/* Anything between these two tags will be ignored by the browser */

h1 {
    color:brown;
    background-color: #00FF00;
}

h2 {
    color:aqua;
    background-color:indigo
}

h3 {
    color:pink;
    background-color:blanchedalmond
}

/*
p {
    color: #ff3366;
    background-color:#00FF00;
}
*/

p {
  color: red;
  background-color: yellow;
}


.specialp {
    color:red;
    background-color:yellow;
}

#specialID {
    color: red;
    background-color:yellow;
}

.yellowbg {
    background-color: yellow;
}

.spanstyle {
    color: red;
}



a {
    color: black;
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:active {
    color: #00FFFF;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

footer {
    background-color:green;
}